h1{text-align: center;
text-align: center; 
font-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.list {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid
}

.list-item {
  padding: 5px 10px;
  margin-left: 15px;
  box-sizing: border-box;
}

div{   border-style: none 3px;
line-height: 15px;
font-style: oblique;
font-weight: bold;
font-family: 'Roboto', sans-serif;
font-size: xx-small;
}
.container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
a {
  display: inline;

}
img {
  width: 200px;
  height: 150px;
}
footer {clear: both;
text-align: center;}


.fwb-blue {
    background-color: #a8c5da;
    margin-left: -600px;
    margin-right: -600px;
    overflow-x:hidden;
      text-align: center;
  }
  .fwb-bluecontentleft {
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    line-height: 120%;
    /* float:left; */
    width: 400px;
    display: inline-block;
    text-align: justify;
  }
  
  .fwb-bluecontentright {
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    line-height: 120%;
    /* float:right; */
    width:400px;
    display: inline-block;
    text-align: justify;
   }